/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$background-color: #35578b;
$highlight-color: #358b64;
$mark-color: #c83900;

@import "compass/reset", "chosen";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
@import "http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700";



.lb_wrap .lb_label.top, .lb_wrap .lb_label.bottom {
  width: 150px;
  left: 0;
}

.lb_wrap .lb_label.left {
  left: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background:$background-color;
  background-size: cover;
  text-transform: uppercase;
}

body, input, select {
  // font: 300 18px/24px "open sans";
  font: 300 18px/1.618 "pt sans narrow";
  letter-spacing: 1px;
}

a, a:visited, a:active {
  color: #fefefe;
  text-decoration: none;
  font-size: 0.95rem;
}

main {
  width: 40%;
  min-width: 360px;
  max-width: 500px;
  margin: 0 auto;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
}

footer a {

}

footer a em {
  color: $mark-color;
}

form {
  margin-top: 50%;
}

form fieldset {
  border: #fefefe solid 1px;
  padding: 3rem;
  margin: 0 0 3rem;
}

form input, form select, form label, .lb_label {
  display: block;
  width: 100%;
  font-size: 0.95rem;
  color: #fefefe;
  text-transform: uppercase;
}

form input {
  background: $background-color;
  box-shadow: none;
  border-radius: 0;
  border: #fefefe solid 1px;
  padding: 1rem;
  cursor: pointer;

  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  outline: none;

  border: 1px solid #DDDDDD;

  &:focus {
    border-color: $background-color;
    border-bottom: 1px solid #fefefe;
    padding-left: 0;
  }
}

form li {
  margin: 0 0 1.5rem;

  &:last-child {
    margin: 0;
  }
}

input[type=submit] {
  border-radius: 100px;
  text-shadow: 0 1px 0 darken($background-color, 7%);
  font-size: 1rem;

  max-width: 300px;
  margin: 0 auto;

  &:hover {
    border-color: #a6ffbb;
    color: #a6ffbb;
  }
}

::-webkit-input-placeholder {
   color: #fefefe;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fefefe;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fefefe;
}

:-ms-input-placeholder {
  color: #fefefe;
}

.label_better + .lb_label {

}