<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="stylesheets/site.css">
		<script src="scripts/modernizr.js"></script>
		<!--[if lt IE 9]>
		<script src="dist/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<main>
			<form action="/find_address" class="form" role="form" method="POST">
				<img class="logo" src="images/logo.png">
				<fieldset>
					<ol>
						<li>
							<!-- <label for="address" class="fly-label from-right">Your address</label> -->
							<input type="text" name="address" placeholder="Your address" class="form-control label_better">
						</li>
						<li>
							<select data-placeholder="poop" class="chosen-select-width" class="form-control" name="school">
								<option selected="selected" disabled="disabled">Choose your school</option>
								<option value="BINFORD MIDDLE">Binford Middle School</option>
								<option value="CARY ELEMENTARY">Cary Elementary School</option>
								<option value="TEST">Test School</option>
							</select>
						</li>
					</ol>
				</fieldset>
				<input type="submit" class="btn btn-primary" value="Find Nearest Bus Stop">
			</form>
		</main>
		<footer>
			<a href="http://codeforrva.org" title="Built with <3 by Code for RVA">Built with <em>&#9829</em> by Code for RVA</a>
		</footer>
		<script src="/packages/jquery/dist/jquery.js"></script>
		<script src="scripts/chosen.js"></script>
		<script src="scripts/label-better.js"></script>
		<script>
			$(function() {
				$("input.label_better").label_better({
					position: "top", // This will let you define the position where the label will appear when the user clicked on the input fields. Acceptable options are "top", "bottom", "left" and "right". Default value is "top".
					animationTime: 400, // This will let you control the animation speed when the label appear. This option accepts value in milliseconds. The default value is 500.
					easing: "bounce", // This option will let you define the CSS easing you would like to see animating the label. The option accepts all default CSS easing such as "linear", "ease" etc. Another extra option is you can use is "bounce". The default value is "ease-in-out".
					offset: 59, // You can add more spacing between the input and the label. This option accepts value in pixels (without the unit). The default value is 20.
					hidePlaceholderOnFocus: true // The default placeholder text will hide on focus
				});

				var selector = 'select';

				var config = {
					'.chosen-select'           : {},
					'.chosen-select-deselect'  : {allow_single_deselect:true},
					'.chosen-select-no-single' : {disable_search_threshold:10},
					'.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
					'.chosen-select-width'     : {width:"95%"}
				};

				for (var selector in config) {
					$(selector).chosen(config[selector]);
				}
			});
		</script>
	</body>
</html>