/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
@import "http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700";
/* line 17, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.1.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/
/* @group Base */
/* line 14, ../sass/_chosen.scss */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100% !important;
}

/* line 25, ../sass/_chosen.scss */
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-top: 0;
  background: #fff;
}

/* line 38, ../sass/_chosen.scss */
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}

/* line 41, ../sass/_chosen.scss */
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
/* line 47, ../sass/_chosen.scss */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  background: #35578b;
  background-clip: padding-box;
  border: #fefefe solid 1px;
  box-shadow: none;
  color: #fefefe;
  text-decoration: none;
  white-space: nowrap;
  padding: 1rem;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.95rem;
  background: #35578b url("../../images/arrow-white.png") no-repeat right 15px center;
  background-size: 12px;
}

/* line 66, ../sass/_chosen.scss */
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 73, ../sass/_chosen.scss */
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}

/* line 76, ../sass/_chosen.scss */
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px;
}

/* line 85, ../sass/_chosen.scss */
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}

/* line 88, ../sass/_chosen.scss */
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}

/* line 91, ../sass/_chosen.scss */
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}

/* line 99, ../sass/_chosen.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 104, ../sass/_chosen.scss */
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

/* line 111, ../sass/_chosen.scss */
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 20px 4px 5px;
  margin: 0 0 0.3rem;
  width: 100%;
  padding: 1rem;
  height: auto;
  outline: 0;
  background: white url("../../images/search.png") no-repeat right 10px center;
  background-size: 20px;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
  color: #333;
  border: #ccc solid 1px;
  text-transform: capitalize;
}

/* line 131, ../sass/_chosen.scss */
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

/* line 136, ../sass/_chosen.scss */
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
/* line 143, ../sass/_chosen.scss */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

/* line 152, ../sass/_chosen.scss */
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 1rem;
  list-style: none;
  -webkit-touch-callout: none;
  font-size: 0.95rem;
}

/* line 160, ../sass/_chosen.scss */
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
  text-transform: uppercase;
}

/* line 165, ../sass/_chosen.scss */
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  text-transform: uppercase;
  cursor: default;
}

/* line 171, ../sass/_chosen.scss */
.chosen-container .chosen-results li.highlighted {
  color: #358b64;
}

/* line 174, ../sass/_chosen.scss */
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}

/* line 178, ../sass/_chosen.scss */
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

/* line 183, ../sass/_chosen.scss */
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

/* line 186, ../sass/_chosen.scss */
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
  color: #c83900;
}

/* @end */
/* @group Multi Chosen */
/* line 194, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(#eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, white 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}

/* line 213, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

/* line 217, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 222, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 15px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

/* line 236, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}

/* line 239, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  color: #fefefe;
  line-height: 13px;
  cursor: default;
}

/* line 255, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px;
}

/* line 264, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

/* line 267, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}

/* line 278, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}

/* line 281, ../sass/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

/* line 284, ../sass/_chosen.scss */
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

/* line 288, ../sass/_chosen.scss */
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  cursor: default;
}

/* line 293, ../sass/_chosen.scss */
.chosen-container-active .chosen-drop {
  box-shadow: 0 2px 4px #2e4b79;
}

/* @end */
/* @group Active  */
/* line 301, ../sass/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  color: #35578b;
  background: #fefefe;
}

/* line 309, ../sass/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

/* line 313, ../sass/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -20px 16px;
}

/* line 316, ../sass/_chosen.scss */
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
}

/* line 319, ../sass/_chosen.scss */
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
/* line 325, ../sass/_chosen.scss */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

/* line 329, ../sass/_chosen.scss */
.chosen-disabled .chosen-single {
  cursor: default;
}

/* line 332, ../sass/_chosen.scss */
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
/* line 338, ../sass/_chosen.scss */
.chosen-rtl {
  text-align: right;
}

/* line 341, ../sass/_chosen.scss */
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

/* line 345, ../sass/_chosen.scss */
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

/* line 350, ../sass/_chosen.scss */
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

/* line 353, ../sass/_chosen.scss */
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

/* line 357, ../sass/_chosen.scss */
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

/* line 361, ../sass/_chosen.scss */
.chosen-rtl .chosen-choices li {
  float: right;
}

/* line 364, ../sass/_chosen.scss */
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

/* line 367, ../sass/_chosen.scss */
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

/* line 371, ../sass/_chosen.scss */
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

/* line 376, ../sass/_chosen.scss */
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}

/* line 379, ../sass/_chosen.scss */
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

/* line 383, ../sass/_chosen.scss */
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

/* line 387, ../sass/_chosen.scss */
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

/* line 390, ../sass/_chosen.scss */
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  direction: rtl;
}

/* line 394, ../sass/_chosen.scss */
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}

/* line 397, ../sass/_chosen.scss */
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
/* @end */
/* line 17, ../sass/site.scss */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: #35578b !important;
  color: #fefefe !important;
  box-shadow: 0 0 0px 1000px #35578b inset;
  -webkit-text-fill-color: #fefefe !important;
}

/* line 25, ../sass/site.scss */
.lb_wrap .lb_label.top, .lb_wrap .lb_label.bottom {
  width: 150px;
  left: 0;
}

/* line 30, ../sass/site.scss */
.lb_wrap .lb_label.left {
  left: 0;
}

/* line 34, ../sass/site.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 40, ../sass/site.scss */
img.logo {
  display: block;
  width: 200px;
  margin: 0 auto 2rem;
}

/* line 46, ../sass/site.scss */
body {
  background: #35578b;
  background-size: cover;
  text-transform: uppercase;
}

/* line 52, ../sass/site.scss */
body, input, select {
  font: 300 18px/1.618 "pt sans narrow";
  letter-spacing: 1px;
}

/* line 58, ../sass/site.scss */
a, a:visited, a:active {
  color: #fefefe;
  text-decoration: none;
  font-size: 0.95rem;
}

/* line 64, ../sass/site.scss */
main {
  width: 40%;
  min-width: 360px;
  max-width: 500px;
  margin: 0 auto;
}

/* line 71, ../sass/site.scss */
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 82px;
}

/* line 79, ../sass/site.scss */
footer a {
  display: inline-block;
  padding: 2rem;
  background: #315080;
}

/* line 85, ../sass/site.scss */
footer a em {
  color: #c83900;
}

/* line 89, ../sass/site.scss */
form {
  /*margin-top: 50%;*/
}

/* line 93, ../sass/site.scss */
form fieldset {
  border: #fefefe solid 1px;
  padding: 3rem;
  margin: 0 0 3rem;
}

/* line 99, ../sass/site.scss */
form input, form select, form label, .lb_label {
  display: block;
  width: 100%;
  font-size: 0.95rem;
  color: #fefefe;
  text-transform: uppercase;
}

/* line 107, ../sass/site.scss */
form input {
  background: #35578b;
  box-shadow: none;
  border-radius: 0;
  border: #fefefe solid 1px;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}
/* line 123, ../sass/site.scss */
form input:focus {
  border-color: #35578b;
  border-bottom: 1px solid #fefefe;
  padding-left: 0;
}

/* line 130, ../sass/site.scss */
form li {
  margin: 0 0 1.5rem;
}
/* line 133, ../sass/site.scss */
form li:last-child {
  margin: 0;
}

/* line 138, ../sass/site.scss */
input[type=submit] {
  border-radius: 100px;
  text-shadow: 0 1px 0 #2b4771;
  font-size: 1rem;
  
  max-width: 300px;
  margin: 0 auto;
}
/* line 147, ../sass/site.scss */
input[type=submit]:hover {
  border-color: #a6ffbb;
  color: #a6ffbb;
}

/* line 153, ../sass/site.scss */
::-webkit-input-placeholder {
  color: #fefefe;
}

/* line 157, ../sass/site.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #fefefe;
}

/* line 161, ../sass/site.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fefefe;
}

/* line 165, ../sass/site.scss */
:-ms-input-placeholder {
  color: #fefefe;
}
